body {
  margin: 0;
  margin: auto;
  background-position: center;
  background-color: #000000;
  font-family: Tahoma, Verdana, sans-serif;

}
header {
  height: 147px;
}

div.container {
  background-image: url(./../images/background.jpg);
  margin: auto;
  width: 820px;
  height: 803px;
  padding:50px 70px 30px 70px;

}
div.logo {
  display: inline-block;
  margin: 0;
  width: 263px;
  height: 147px;
  background-image: url(./../images/palms3.png);
  background-repeat: no-repeat;
  background-position: right;


}

img.logo_main {
  display: block;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 10px;


}

div.slogan {
  display: block;
  padding: 0;
  padding-bottom: 15px;
  color: #e6e6e6;
  font-size: 60%;
  text-align: center;
  vertical-align: bottom;


}

div.contacts_inform {
  display: inline-block;
  float: right;
  padding-top: 83px;
  padding-right: 10px;
  padding-bottom: 15px;

}

a {
  display: block;
  color: #e6e6e6;
  text-decoration: none;
  font-size: 55%;
}

div.title {
  color: #e6e6e6;
  font-size: 60%;
  padding-bottom: 5px;
}
figure {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  margin-bottom: 50px;
}
figcaption {
  color: #aeaeae;
  text-align: center;
  font-size: 15px;
}

figure img {
  width: 257px;
  border: 6px solid transparent;
  border-image: url(./../images/ramka.png) 6 stretch;
}

figure:hover {
   opacity: 0.6;

}


figure.image_magrin {
  margin-right: 6.5px;
  margin-left: 6.5px;
}
footer {

  color: #e6e6e6;
  font-size: 60%;
  display: inline-block;
  position: relative;
  width: 820px;
  text-align: center;
  margin-top: 107px;
}
